[Unit]
Description=Starfield Constellation Visualization Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/star_field/starfield_daemon.py
WorkingDirectory=/opt/star_field
Type=simple

[Install]
WantedBy=multi-user.target
